@charset "UTF-8";

/*画面全体のスタイルシート*/

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    min-width: 1076px;
}
/*ヘッダーのスタイルシート*/

.block-header{
    width: 100%;
    box-shadow: 0 5px rgb(196,60,60);

}
.header-list{
    list-style: none;
    margin: 10px 0;
    padding: 0 0 5px 10px;
}
.header-list li {
    width: 63px;
    display:inline-block;
    text-align: center;
}
.header-list li a{
    text-decoration: none;
    color: #333333;
}
.header-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 60px;
}
.img-home{
    height: 70%;
}
.img-about{
    height: 40%;
}
.img-projects{
    height: 60%;
}
.header-list li a p{
    margin: auto;
    font-size: 13px;
    line-height: 0.6;
}
/*home部分のスタイルシート*/
.block-main{

}
.box-home{
    width: 100%;
    height: 600px;
}
.box-home img{
    margin:0;
    float: right;
    width: 600px;
    position: relative;
    top: -50px;
}
.name{
    margin: 50px 0 0 80px;
    font-size: 96px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0.1em;
    color: dimgray;
}
.box-home p{
    margin: 20px 0 0 90px;
    font-size: 26px;
    letter-spacing: 0.2em;
    white-space: nowrap;
    line-height: 1.7;
}
.color-red{
    color: rgb(196,60,60);
}

/*Aboutのスタイルシート*/
.box-about{
    margin:-52px 0 0 0;
    background-color:rgb(196,60,60);
}
.sub-title{
    margin: 0;
    padding: 55px 0 0 0;
    width: 100%;
    font-size: 40px;
    color: white;
    text-align: center;
    font-weight: normal;
    letter-spacing: 0.1em;
}
.sub-title-line{
    margin: 0;
    text-align: center;
    font-size: 15px;
    line-height: 0.5;
    color: white;
    letter-spacing: -0.4em;
}
.sub-title-line span{
    font-size: 24px;
    color: #444444;
    font-weight: lighter;
    display: inline-block;
    transform: scaleX(3);
}
.skil{
    margin: 50px 0 30px 0;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 0.1em;
}
.profile{
    padding: 0 235px;
    color: white;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 0.1em;
}
.support{
    margin: 35px 0 20px 0;
    color: white;
    text-align: center;
    font-size: 13px;
    font-weight: lighter;
    letter-spacing: 0.2em;
}
.icon-list{
    list-style: none;
    display: flex;
    justify-content: center;

}
.icon-list li{
    width: 40px;
    margin: 0 40px 40px 0;  
}
.icon-list li img{
    height: 50%;
}